pyrogram==2.0.106
tgcrypto
aiohttp
psycopg2-binary
python-dotenv
requests==2.32.3
prettytable==3.10.0
mutagen==1.47.0
psutil==5.9.8
pycryptodome==3.20.0
aigpy==2022.7.8.1
lyricsgenius==3.0.1
pydub==0.25.1
PyQt6==6.7.0
qt-material==2.14
gunicorn
gevent
flask
